<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 方案1:前端设置表格 -->
  <form action="" method="post"> 
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <label for="password">Confirm Password:</label>
    <input type="password" id="password2" name="password2" required>
    <br><br>
    <button type="submit">Login</button>
    
    <!-- 获取flash闪现的加密消息 -->
    {% for message in get_flashed_messages() %} 
      <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
  </form>

  
  
</body>
</html>