<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}this is father{% endblock %}</title>
</head>
<body>
  {% block nav %}
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  {% endblock %}

  <div> xixixix</div>

  {% block footer %}
  <footer>
    <p>&copy; 2025 Veronica Website</p>
  {% endblock %}
  
</body>
</html>