* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.comment {
  display: flex;
  align-items: flex-start;
  width: 1000px;
  margin: 10px auto;
  justify-content: center;
}
.comment .textbox {
  margin: 0 20px;
}
.comment #input {
  /* display: block; */
  height: 40px;
  width: 500px;
  background-color: #f1f1f1;
  border: 0px solid gray ;
}
.comment p {
  text-align: right;
  color: gray;
  
}
.comment button {
  height: 40px;
  color: azure;
  background-color: #4294FF;
  border: 1px solid lightskyblue;
  padding: 5px;
}
.active {
  height: 50px !important;
}
.activeText {
  background-color: white !important;
  border: 1px solid gray !important;
}

.commentList {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 20px auto;
}
.commentList .commentItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #f1f1f1;
}
.commentList .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 550px;
  height: 80px;
  margin: 0 20px;
}

.commentList h4 {
  color: #4294FF;
}

.commentList .time {
  color: gray;
  font-size: smaller;
}