header{
  display: flex;
  width: 100%;  /* 让图片宽度充满父容器 */
  height: 300px; 
  background-position: center center; /* 确保背景图像居中显示 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover; 
  align-items: center;
  justify-content: center;
}
header .display-2 {
  font-weight:bolder;
  text-align: center;
  color: #ffffff;
}

.custom-bottom {
  border-bottom:20px solid #F76236;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: white; /* 设置背景为白色 */
}
.row {
  margin-top: 5px;
  display: flex; /* 确保 row 是 flex 容器 */
  flex-wrap: wrap; /* 允许换行 */
  gap: 16px; /* 16px 相当于 g-3 */
}
.praCard:hover {
  transform: translate(-10px, -10px);
  
  }


.col-sm img {
  width: 80px;
  height: auto;

}

h2{
  color: #F76236;
}

/* 修改复选框选中后的背景颜色 */
.form-check-input:checked {
  background-color: #F76236;  /* 选中后背景变橙色 */
  border-color: #F76236; /* 选中后边框变橙色 */
}



.form-check-input:checked + .form-check-label{
  color: #F76236;/* 选中后边框变橙色 */
  font-weight: bold;
}