header{
  display: flex;
  width: 100%;  /* 让图片宽度充满父容器 */
  height: 250px; 
  background-position: center center; /* 确保背景图像居中显示 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover; 
  align-items: center;
  justify-content: center;
}
header .display-2 {
  font-weight:bolder;
  text-align: center;
  color: #ffffff;
}

.row {
  display: flex; /* 确保 row 是 flex 容器 */
  flex-wrap: wrap; /* 允许换行 */
  gap: 16px; /* 16px 相当于 g-3 */
  align-items: stretch;
}

.col-md-6 {
  display: flex;
  flex: 1; /* 使左右列的宽度相等 */
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  padding: 1px; /* 可选，增加内边距 */
}

.praCard:hover {
  transform: translate(-10px, -10px);
  
  }

.col-sm img {
  width: 80px;
  height: auto;

}

h1{
  color: #F76236;
}

/* 修改复选框选中后的背景颜色 */
.form-check-input:checked {
  background-color: #F76236;  /* 选中后背景变橙色 */
  border-color: #F76236; /* 选中后边框变橙色 */
}



.form-check-input:checked + .form-check-label{
  color: #F76236;/* 选中后边框变橙色 */
  font-weight: bold;
}



#right-column {
  display: flex;
  justify-content: center; /* 水平居中图片 */
  align-items: center; /* 垂直居中图片 */
  height: 100vh; /* 让右侧填充整个屏幕 */
  background-color:#00AC9E;
}

#left-column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 让 info 在剩余空间垂直居中 */
  align-items: center; /* 水平居中 */
  width: 50%;
  height: 100vh; /* 让 left 充满整个屏幕高度 */
  padding: 20px;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 让导航栏铺满宽度 */
}

.info {
  flex-grow: 1; /* 让 info 占据剩余空间 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 让文本内容在 vertical space 里居中 */
  align-items: center ;
  text-align: left;
  width: 80%; /* 限制 info 宽度，避免过于靠边 */
}


.info {
  width: auto; /* 确保内容不会占满整个宽度 */
  text-align: center; /* 让文本内容居中 */
}
.name {
  margin-bottom: 80px;
}

pre {
  margin: 40px;
}
.custom-bottom {
  border-bottom:20px solid #F76236;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: white; /* 设置背景为白色 */
}